#root {
  margin: 0 auto;
  text-align: center;
  max-width: var(--max_width);
  min-width: var(--min_width);
  box-sizing: border-box;
  width: 100%;
  border-left: 1px solid var(--neutral_200);
  border-right: 1px solid var(--neutral_200);
}
